.header_row
{
    -fx-font: 12px "Sans Serif";
    -fx-background-color: #99AA66;
    -fx-padding: 8;
}

.player_row1
{
    -fx-font: 12px "Sans Serif";
    -fx-background-color: #CCFF99;
    -fx-padding: 8;
}

.player_row2
{
    -fx-font: 12px "Sans Serif";
    -fx-background-color: #BBEE99;
    -fx-padding: 8;
}

.grid
{
    -fx-padding: 10;
}

.tournament_header_row
{
    -fx-background-color: #FF0000;
    -fx-alignment: center;
}

.tournament_header_text
{
    -fx-font: 20px "Serif";
    -fx-text-alignment: center;
    -fx-background-color: #FFFD00;
    -fx-padding: 10 10 30 10;
}
