.header_row
{
    -fx-font: 14px "Sans Serif";
    -fx-background-color: #23262A;
    -fx-padding: 8;
    -fx-text-fill: #7C8188;
}

.player_row
{
    -fx-font: 14px "Sans Serif";
    -fx-padding: 8;
    -fx-text-fill: #161C25;
}

.main_view
{
    -fx-background-color: #D3D4D5;
}

.tournament_header_text
{
    -fx-font: 20px "Serif";
    -fx-text-fill: #7C8188;
    -fx-background-color: #161C26;
    -fx-padding: 14 10 14 10;
}

.selector
{
    -fx-padding: 8;
    -fx-spacing: 10;
}