<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="background-color: #F6F6F6;">
<table style="font-family: sans-serif; padding: 10px; font-color: #2B2B2B;">
    <tr>
        <th style="font-size: large; padding: 10px;">Submission missing metadata</th>
    </tr>
    <tr>
        <td style="padding: 10px;">
            Hello! I have received your submission for inclusion in the {TOURNAMENT.NAME} tournament.
            Unfortunately, I was not able to find your team's metadata within your submission.
        </td>
    </tr>
    <tr>
        <td style="padding: 10px;">
            Your instructor should have posted instructions for including the metadata I need within
            your submissions. Please check and make sure you have followed the process correctly. If
            you have any further difficulties, speak to your instructor.
        </td>
    </tr>
    <tr>
        <td style="padding: 10px;">
            I have attached your submission to this email for you. Have a nice day!
        </td>
    </tr>
    <tr>
        <td style="padding: 10px;">
            -- Your local tournament server
        </td>
    </tr>
</table>
</body>
</html>